# Variáveis do Banco de Dados PostgreSQL
# O Docker Compose usará estes valores para criar o banco e conectar a API.
DB_HOST=database
DB_PORT=5432
DB_NAME=amazon_db
DB_USER=admin
DB_PASSWORD=admin

# Chave da API do ScraperAPI
# Necessária para o scraper-service-rust
SCRAPER_API_KEY=sua_chave_scraper_api_aqui

# Token do Bot do Telegram
# Necessário para o notificador-service-go
TELEGRAM_BOT_TOKEN=seu_token_telegram_aqui
